basePath: /api/v1
definitions:
  handler.HealthResponse:
    properties:
      service:
        type: string
      status:
        type: string
      timestamp:
        type: string
    type: object
host: localhost:8080
info:
  contact:
    email: duzihd@gmail.com
    name: Alex Duzi
  description: API for managing products
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Product API
  version: "1.0"
paths:
  /health:
    get:
      description: Returns the health status of the API
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.HealthResponse'
      summary: Health check endpoint
      tags:
      - health
  /products:
    get:
      consumes:
      - application/json
      description: Get a list of all products
      produces:
      - application/json
      responses:
        "200":
          description: 'data: array of products'
          schema:
            additionalProperties: true
            type: object
        "500":
          description: 'error: error message'
          schema:
            additionalProperties:
              type: string
            type: object
      summary: List all products
      tags:
      - products
  /products/{id}:
    get:
      consumes:
      - application/json
      description: Get product details by product ID
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 'data: product object'
          schema:
            additionalProperties: true
            type: object
        "400":
          description: 'error: validation error'
          schema:
            additionalProperties:
              type: string
            type: object
        "404":
          description: 'error: product not found'
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: 'error: error message'
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get a product by ID
      tags:
      - products
schemes:
- http
- https
swagger: "2.0"
